<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Express Dev skills</title>
</head>
<body>
  <h1>Dev skills as of <%= time %></h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <form 
        action="/skills/<%= skill._id %>?_method=DELETE"
        method="POST"
        class="delete-form"
        >
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= skill._id %>/edit"><button class="edit-button">✍️</button></a>
				<a href="/skills/<%= skill._id %>"><%= skill.text %></a>
				- 
				<%= skill.done ? 'done' : 'not done' %>
			</li>
    <% }) %>
  </ul>
  <a href="/skills/new">Add skill</a>
</body>
</html>